// Reusable Bits of CSS, Mainly for Vendor Prefixes and Gradients

.radius(@values) {
  -webkit-border-radius: @values;
     -moz-border-radius: @values;
          border-radius: @values;
     -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.font-size(@sizeValue){
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}

.font-size(@font-size){
@rem: (@font-size / 10);
font-size: @font-size * 1px;
font-size: ~"@rem"; }

/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */


// Clearfix for clearing floats like a boss h5bp.com/q
.clearfix() {
  zoom: 1;
    &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    }
    &:after {
    clear: both;
    }
}

// Input placeholder text
.placeholder(@color: @grayLight){
  :-moz-placeholder{
    color: @color;
  }
  ::-webkit-input-placeholder {
    color: @color;
  }
}

// Transitions
.transition(@transition) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
        -ms-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}

// Background clipping
.background-clip(@clip) {
    -webkit-background-clip: @clip;
       -moz-background-clip: @clip;
            background-clip: @clip;
}

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
  .background(@color: @white, @alpha: 1) {
    background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
    }
    .border(@color: @white, @alpha: 1) {
        border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
        background-clip: padding-box;
    }
}

// Gradient Bar Colors for buttons and allerts
.gradientBar(@primaryColor, @secondaryColor) {
  #gradient > .vertical(@primaryColor, @secondaryColor);
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

// Gradients
#gradient {
  .horizontal (@startColor: #555, @endColor: #333) {
    //background-color: @endColor;
    //background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor)); // Konqueror
    background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(left, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(left, @startColor, @endColor); // Le standard
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor)); // IE9 and down
  }
  .vertical (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); // Konqueror
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(top, @startColor, @endColor); // The standard
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down
  }
  .directional (@startColor: #555, @endColor: #333, @deg: 45deg) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(@deg, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(@deg, @startColor, @endColor); // IE10
    background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(@deg, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(@deg, @startColor, @endColor); // The standard
  }
  .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
    background-color: @endColor;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
    background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
    background-image: -ms-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
  }
}

// Reset filters for IE
.reset-filter() {
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

// Opacity
.opacity(@opacity: 100) {
    filter: e(%("alpha(opacity=%d)", @opacity));
    //-khtml-opacity: @opacity / 100;
      //-moz-opacity: @opacity / 100;
           opacity: @opacity / 100;
}

.border-radius(@radius: 5px){
    -webkit-background-clip: padding-box;
    -webkit-border-radius: @radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: @radius;
    border-radius: @radius;
    background-clip: padding-box;
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)){
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.inset-box-shadow(@horizontal: 0px, @vertical: 1px, @blur: 2px, @color: #CCC){
    -webkit-box-shadow: inset @horizontal @vertical @blur @color;
    -moz-box-shadow: inset @horizontal @vertical @blur @color;
    box-shadow: inset @horizontal @vertical @blur @color;
}

// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
      -ms-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}

.multi-color-border(@top, @sides, @bottom){
    border-top: 1px solid @top;
    border-left: 1px solid @sides;
    border-right: 1px solid @sides;
    border-bottom: 1px solid @bottom;
}

.multi-rounded-corners(@topLeft: 5px, @topRight: 5px, @bottomRight: 5px, @bottomLeft: 5px){
    -webkit-border-top-left-radius: @topLeft;
    -webkit-border-top-right-radius: @topRight;
    -webkit-border-bottom-right-radius: @bottomRight;
    -webkit-border-bottom-left-radius: @bottomLeft;
    -moz-border-radius-topleft: @topLeft;
    -moz-border-radius-topright: @topRight;
    -moz-border-radius-bottomright: @bottomRight;
    -moz-border-radius-bottomleft: @bottomLeft;
    border-top-left-radius: @topLeft;
    border-top-right-radius: @topRight;
    border-bottom-right-radius: @bottomRight;
    border-bottom-left-radius: @bottomLeft;
}

.vertical-gradient(@start: #000, @stop: #FFF){
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -webkit-linear-gradient(@start, @stop);
    background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background: -moz-gradient(center top, @start 0%, @stop 100%);
}

.font-size(@font-size: 16){
    @rem: (@font-size / 10);
    font-size: @font-size * 1px;
    font-size: ~"@{rem}rem";
}

.hide-text(){
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

// Padding

@base: 5px;

.padding-left_x{
  padding-left:@base;
}

.padding-right_x{
  padding-right:@base;
}

.padding-top_x{
  padding-top:@base;
}

.padding-bottom_x{
  padding-bottom:@base;
}

// = Padding X2

.padding_x2{
  padding:@base *2;
}

.padding-left_x2{
  padding-left:@base * 2;
}

.padding-right_x2{
  padding-right:@base * 2;
}

.padding-top_x2{
  padding-top:@base * 2;
}

.padding-bottom_x2{
  padding-bottom:@base * 2;
}

.padding-left_x2_right_x2{
  padding-left:@base * 2;
  padding-right:@base * 2;
}

// = Padding X4

.padding_x4{
  padding:@base * 4;
}

.padding-right_x4{
  padding-right:@base * 4;
}

.padding-left_x4{
  padding-right:@base * 4;
}

.padding-top_x4{
  padding-top:@base * 4;
}

.padding-left_x4_right_x4{
  padding-left:@base * 4;
  padding-right:@base * 4;
}

// Border

.noborder-bottom{
  border-bottom:none;
}
.noborder-top{
  border-top:none;
}

.noborder{
  border:none;
}

// Float

.left{
  float:left;
}

.right{
  float:right;
}

// Hidden

.is-hidden()
{
  visibility: hidden;
  display: none;
  opacity: 0;
}

.is-visible(){
  visibility: visible;
  display: block;
  opacity: 1;
}

.is-hidden-mixin(){
  visibility: hidden;
  display: none;
  opacity: 0;
}

.is-visible-mixin(){
  visibility: visible;
  display: block;
  opacity: 1;
}

.clearfix{
  zoom: 1;
    &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
    }
    &:after {
    clear: both;
    }
}







