body 
{  
	margin: auto; 
	font: 100%/1.25 'Roboto', 'Helvetica Neue' Helvetica, Arial, San-Serif;
}

a{
	color:#444;
	text-decoration: none;
}

h1{
	font-size:2.5rem;
	font-weight:500;
}

h2{
	font-size:1.75rem;
	font-weight:500;
}

b{
	font-weight: 900;
}

.wrapper{
	width:100%;
	margin:0 auto;
}

.header{
	width: 100%;
	position: fixed;
	background-color: #fff;
	height: 100px;
	z-index: 500;
	float: left;
	display: block;
	top: 0px;
	left: 0px;
}

.main-tag{
	position: fixed;
	top:20px;
	left:20px;
}
.util{
	position: fixed;
	right:20px;
	top:20px;
}

.page-context{
	text-align: center;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -10%;
}

.left{
	float:left;
}

.right{
	float:right;
}

.hypeData{
	width:60%;
	margin: 0 auto;
	margin-top:101px;
}

.hypeItem{
	width:100%;
	display: block;
	margin:0 0 40px 0;
	float:left;
	position: relative;
}

.hypeItem img{
	float:left;
}

.ItemMeta{
	float:left;
	padding-left:20px;

}