
	body 
	{  
		margin: auto; 
		font-family: 'Helvetica Neue' Helvetica, Arial, San-Serif;
		padding:1%;
	}

	h1{
		font-size:24px;
		font-weight:900;
	}

	.wrapper{
		width:100%;
		float:left;
		padding:2%;
	}
	.covers {
		float:left;
		padding:1%;
		
	}

	.left{
		float:left;
	}

	.block2{
		padding:20px;
		display: width:20%;
	}


	.massdata{
		margin:40px;
	}